<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Construisons ensemble - About</title>
  <meta content="" name="description" />
  <meta content="" name="keywords" />

  <!-- Favicons -->
  <link href="/mediaimg/favicon.png" rel="icon" />
  <link href="/media/img/apple-touch-icon.png" rel="apple-touch-icon" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Roboto:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap"
    rel="stylesheet" />

  <!-- Vendor CSS Files -->
  <link href="/media/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/media/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
  <link href="/media/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" />
  <link href="/media/vendor/aos/aos.css" rel="stylesheet" />
  <link href="/media/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
  <link href="/media/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

  <!-- Template Main CSS File -->
  <link href="{% static 'sass/main.css'%}" rel="stylesheet" />

  <!-- =======================================================
  * Template Name: UpConstruction
  * Updated: Mar 10 2023 with Bootstrap v5.2.3
  * Template URL: https://bootstrapmade.com/upconstruction-bootstrap-construction-website-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>
  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
      <img src="{% static 'images/Logo_officiel.png' %}" width="150" alt="logo">


      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      {% include 'base/navbar.html'%}
      <!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->

  <main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs d-flex align-items-center" style="background-image: url('/media/img/breadcrumbs-bg.jpg')">
      <div class="container position-relative d-flex flex-column align-items-center" data-aos="fade">
        <h2>A propos</h2>
        <ol>
          <li><a href="/">Home</a></li>
          <li>A propos</li>
        </ol>
      </div>
    </div>
    <!-- End Breadcrumbs -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">
        <div class="row position-relative">
          <div class="col-lg-7 about-img" style="background-image: url(/media/img/about.jpg)"></div>

          <div class="col-lg-7">
            <h2>Présentation
              globale de la
              coopérative</h2>
            <div class="our-story">
              <h4>2023</h4>
              <h3>Notre Histoire</h3>
              <p style="text-align: justify;">
                visant à offrir à ses membres les meilleures conditions possibles de logement à moindre coût.
                Elle a été créée en février 2023 A Dakar par ungroupe de jeune congolais etudfiant a Dakar avec
                laccompagnement des entrepreneurs et hommes d'affrairs etrangers et officiellement en Decembre 2023 au
                congo Brazzaville.

              </p>
              <!--
                <ul>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span>Ullamco laboris nisi ut aliquip ex ea commo</span>
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span>Duis aute irure dolor in reprehenderit in</span>
                  </li>
                  <li>
                    <i class="bi bi-check-circle"></i>
                    <span>Ullamco laboris nisi ut aliquip ex ea</span>
                  </li>
                </ul>
                -->
              <p style="text-align: justify;">
                L'achat d'une villa ou d'un appartement dans le cadre d'un programme immobilier est souvent un
                investissement coûteux. Obtenir un crédit bancaire pour financer un tel projet peut être
                difficile. C'est pourquoi la coopérative Construisons Ensemble a été créée pour aider les
                personnes ayant des projets de rénovation, de construction, d'achat immobilier,
                ou de financement, à les réaliser sans nécessiter un crédit bancaire, quel que soit leur
                budget ou leur profil, grâce à nos politiques et partenariats.
              </p>
              <h3>Notre Vision</h3>
              <p style="text-align: justify;">
                La Coopérative s'attache à mettre le développement durable au cœur de ses branches d'activités.

              </p>
              <div class="watch-video d-flex align-items-center position-relative">
                <i class="bi bi-play-circle"></i>
                <a href="https://www.youtube.com/watch?v=LXb3EKWsInQ" class="glightbox stretched-link">
                  <font color="blue">Vid&eacuteo pr&eacutesentative</font>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End About Section -->

    <!-- ======= Stats Counter Section ======= -->
    <section id="stats-counter" class="stats-counter section-bg">
      <div class="container">
        <div class="row gy-4">
          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-emoji-smile color-blue flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="232" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Clients satisfaits</p>
              </div>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-journal-richtext color-orange flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="521" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Projets</p>
              </div>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-headset color-green flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="1463" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Heures d'assistance</p>
              </div>
            </div>
          </div>
          <!-- End Stats Item -->

          <div class="col-lg-3 col-md-6">
            <div class="stats-item d-flex align-items-center w-100 h-100">
              <i class="bi bi-people color-pink flex-shrink-0"></i>
              <div>
                <span data-purecounter-start="0" data-purecounter-end="15" data-purecounter-duration="1"
                  class="purecounter"></span>
                <p>Travailleurs acharnés</p>
              </div>
            </div>
          </div>
          <!-- End Stats Item -->
        </div>
      </div>
    </section>
    <!-- End Stats Counter Section -->

    <!-- ======= Alt Services Section ======= -->
    <section id="alt-services" class="alt-services">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-around gy-4">
          <div class="col-lg-6 img-bg" style="background-image: url(/media/img/alt-services.jpg)" data-aos="zoom-in"
            data-aos-delay="100"></div>

          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>Objectif </h3>
            <p>
              L’objectif de ces individus à travers la coopérative est d’unir leur force afin de se donner les
              moyens d’accéder à un logement décent au Congo malgré le coût élevé de cet investissement.
              C’est justement le système de solidarité et d’entraide qui régit la coopérative qui permet à ses
              membres d’atteindre leurs objectifs communs:
            </p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Formation</a></h4>
                <p>
                  Former et éduquer
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Efficacité</a></h4>
                <p>
                  Etre efficaces (performance économique et solidaires).
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">emploi</a></h4>
                <p>
                  Créer la richesse et des emplois pour les membres.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Projet</a></h4>
                <p>
                  Faire de bons projets garantissant.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->
          </div>
        </div>
      </div>
    </section>
    <!-- End Alt Services Section -->




    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials section-bg">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Déclaration Fondamentale</h2>
          <p>

          </p>
        </div>

        <div class="slides-2 swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/media/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="" />
                  <h3>Ambition</h3>
                  <h4></h4>
                  <!--     
                    <div class="stars">
                      <i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i>
                    </div>

                     -->

                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    La coopérative vise à aider ses membres à devenir propriétaires de résidences au Congo, malgré
                    leurs apports financiers individuels limités. Elle dispose de ressources financières considérables
                    et s'investit dans la construction de logements sociaux ainsi que dans l'immobilier, ce qui
                    contribue à augmenter ses revenus.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/media/img/testimonials/testimonials-2.jpg" class="testimonial-img" alt="" />
                  <h3>Notre mission</h3>
                  <h4></h4>
                  <!--     
                    <div class="stars">
                      <i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i>
                    </div>

                     -->
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    La mission de notre coopérative a pour but de fournir un logement à prix abordable en échange de
                    l’implication de ses membres dans la gestion, l’administration et l’entretien des immeubles.
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/media/img/testimonials/testimonials-3.jpg" class="testimonial-img" alt="" />
                  <h3>Nos valeurs</h3>
                  <h4></h4>
                  <!--     
                    <div class="stars">
                      <i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i>
                    </div>

                     -->
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Une coopérative c’est un projet social et humanitaire à travers lequel les membres sont
                    invités à participer, à donner de soi parce que chaque contribution personnelle enrichit ce
                    beau projet communautaire. Vivre dans une coopérative d’habitation c’est se permettre de
                    vivre des valeurs humaines de partage,
                    d’entraide, de coopération et de ressentir un sentiment d’appartenance
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="/media/img/testimonials/testimonials-4.jpg" class="testimonial-img" alt="" />
                  <h3>But</h3>
                  <h4></h4>
                  <!--     
                    <div class="stars">
                      <i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i
                      ><i class="bi bi-star-fill"></i>
                    </div>

                     -->
                  <p>
                    <i class="bi bi-quote quote-icon-left"></i>
                    Le but de la coopérative est de satisfaire certains besoins socioéconomiques communs de ses
                    membres. Comme usagers, ils se procurent des biens et services ou y trouvent un emploi. À titre de
                    membres, ils participent aussi collectivement à la propriété, au pouvoir et aux résultats
                    <i class="bi bi-quote quote-icon-right"></i>
                  </p>
                </div>
              </div>
            </div>
            <!-- End testimonial item -->


          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section>

    <!-- End Testimonials Section -->


    <!-- ======= Alt Services Section 4 ======= -->
    <section id="alt-services-2" class="alt-services section-bg">
      <div class="container" data-aos="fade-up">
        <div class="row justify-content-around gy-4">
          <div class="col-lg-5 d-flex flex-column justify-content-center">
            <h3>
              Principe de la coop&eacuterative
            </h3>
            <p>

            </p>

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Adh&eacutesion</a></h4>
                <p>
                  Adh&eacutesion volontaires coop&eacuterative et ouverte à tous.
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="100">
              <i class="bi bi-easel flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Pouvoir d&eacutemocratique</a></h4>
                <p>
                  Le pouvoir d&eacutemocratique exerc&eacute par les membres.
                </p>
              </div>
            </div>

            <!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="200">
              <i class="bi bi-patch-check flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">participation &eacuteconomique</a></h4>
                <p>
                  La participation &eacuteconomique des membres afin d’atteindre L’autonomie et l’ind&eacutependance
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="300">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">&Eacuteducation</a></h4>
                <p>
                  L’éducation, la formation et l’information
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Coop&eacuteration</a></h4>
                <p>
                  La coopération entre les coopérateurs
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

            <div class="icon-box d-flex position-relative" data-aos="fade-up" data-aos-delay="400">
              <i class="bi bi-brightness-high flex-shrink-0"></i>
              <div>
                <h4><a href="" class="stretched-link">Engagemant</a></h4>
                <p>
                  L’engagement envers la communauté
                </p>
              </div>
            </div>
            <!-- End Icon Box -->

          </div>

          <div class="col-lg-6 img-bg" style="background-image: url(/media/img/alt-services-2.jpg)" data-aos="zoom-in"
            data-aos-delay="100"></div>
        </div>
      </div>
    </section>
    <!-- End Alt Services Section 2 -->



    <!-- ======= Our Team Section ======= -->
    <section id="team" class="team">
      <div class="container" data-aos="fade-up">
        <div class="section-header">
          <h2>Notre &eacutequipe</h2>
          <p>
            Aperiam dolorum et et wuia molestias qui eveniet numquam nihil
            porro incidunt dolores placeat sunt id nobis omnis tiledo stran
            delop
          </p>
        </div>

        <div class="row gy-5">
          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="100">
            <div class="member-img">
              <img src="/media/img/team/team-1.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Walter White</h4>
              <span>Chief Executive Officer</span>
              <p>
                Aliquam iure quaerat voluptatem praesentium possimus unde
                laudantium vel dolorum distinctio dire flow
              </p>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="200">
            <div class="member-img">
              <img src="/media/img/team/team-2.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Sarah Jhonson</h4>
              <span>Product Manager</span>
              <p>
                Labore ipsam sit consequatur exercitationem rerum laboriosam
                laudantium aut quod dolores exercitationem ut
              </p>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="300">
            <div class="member-img">
              <img src="/media/img/team/team-3.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>William Anderson</h4>
              <span>CTO</span>
              <p>
                Illum minima ea autem doloremque ipsum quidem quas aspernatur
                modi ut praesentium vel tque sed facilis at qui
              </p>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="400">
            <div class="member-img">
              <img src="/media/img/team/team-4.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Amanda Jepson</h4>
              <span>Accountant</span>
              <p>
                Magni voluptatem accusamus assumenda cum nisi aut qui dolorem
                voluptate sed et veniam quasi quam consectetur
              </p>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="500">
            <div class="member-img">
              <img src="/media/img/team/team-5.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Brian Doe</h4>
              <span>Marketing</span>
              <p>
                Qui consequuntur quos accusamus magnam quo est molestiae eius
                laboriosam sunt doloribus quia impedit laborum velit
              </p>
            </div>
          </div>
          <!-- End Team Member -->

          <div class="col-lg-4 col-md-6 member" data-aos="fade-up" data-aos-delay="600">
            <div class="member-img">
              <img src="/media/img/team/team-6.jpg" class="img-fluid" alt="" />
              <div class="social">
                <a href="#"><i class="bi bi-twitter"></i></a>
                <a href="#"><i class="bi bi-facebook"></i></a>
                <a href="#"><i class="bi bi-instagram"></i></a>
                <a href="#"><i class="bi bi-linkedin"></i></a>
              </div>
            </div>
            <div class="member-info text-center">
              <h4>Josepha Palas</h4>
              <span>Operation</span>
              <p>
                Sint sint eveniet explicabo amet consequatur nesciunt error
                enim rerum earum et omnis fugit eligendi cupiditate vel
              </p>
            </div>
          </div>
          <!-- End Team Member -->
        </div>
      </div>
    </section>

    <!-- End Our Team Section -->





  </main>

  <!-- ======= Footer ======= -->
  {% include 'base/footer.html'%}

  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="/media/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/media/vendor/aos/aos.js"></script>
  <script src="/media/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/media/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/media/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="/media/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="/media/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'js/main.js'%}"></script>
</body>

</html>
