<nav id="navbar" class="navbar">
  <ul>
    <li><a href="/" class="active">Accueil</a></li>
    <li><a href="{% url 'about'%}">A propos</a></li>
    <li class="dropdown">
      <a href="#"><span>Services</span>
        <i class="bi bi-chevron-down dropdown-indicator"></i></a>
      <ul>
        <li><a href="{% url 'ristourne' %}">Ristourne</a></li>
        <li><a href="{% url 'vente' %}">Vente</a></li>
        <li><a href="{% url 'investissement' %}">Investissement</a></li>
      </ul>
    </li>

    {% if request.user.investisseur %}
    <li><a href="{% url 'compte' %}">Compte</a></li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li><a href="{% url 'dashboard' %}">Dashboard</a></li>
    {% endif %}

    <li><a href="{% url 'register'%}">S'inscrire</a></li>
    {% if not request.user.is_authenticated%}
    <li><a href="{% url 'login'%}">Connexion</a></li>
    {% else %}
    <li><a href="{% url 'logout'%}">Deconnexion</a></li>
    {% endif %}
    <li><a href="{% url 'contact'%}">Contact</a></li>

  </ul>
</nav>
<!-- .navbar -->
<script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM="
  crossorigin="anonymous"></script>
